<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>Indy Eleven Matches</title>
    <id>http://www.indyeleven.com/matches/results</id>
    <link href="http://indyelevenfeed.jasonbutz.info/"/>
    <updated><%= updated %></updated>
    <% entries.each do |entry| %>
    <entry>
        <title><%= entry[:title] %></title>
        <id><%= entry[:id] %></id>
        <link href="<%= entry[:id] %>" />
        <updated><%= entry[:updated] %></updated>
        <summary><%= entry[:summary] %></summary>
        <author>
            <name><%= entry[:author] %></name>
        </author>
        <content type="text">
            <%= entry[:content] %>
        </content>
    </entry>
    <% end %>
</feed>
